.checkBoxContainer {
  position: fixed;
  border-radius: 50%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10rem !important;
  color: currentColor;
}

.icon {
  display: block;
  width: 50%; /* Adjust as needed to fit within the container */
  height: 6%; /* Adjust thickness as needed */
  background-color: currentColor; /* Use the color from the .checkBoxContainer */
  margin: 4% 0; /* Space between the lines */
}

.checkbox {
  position: fixed;
  cursor: pointer;
  z-index: 10000;
  opacity: 0;
}
.navigationBg {
  position: fixed;
  top: 0;
  right: 0rem;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transform-origin: right;
  transition: 0.5s transform;
  transform: scaleX(0);
}
.checkbox:checked + .navigationBg {
  transform: scaleX(1);
  z-index: 1001;
}

.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%), translateY(50%);
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  z-index: 1001;
}
.ulContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  transform-origin: right;
  animation: bubble 0.5s ease;
}
.ulContainer ul {
  display: flex;
  flex-direction: column;
  z-index: 1001;
}

@keyframes bubble {
  0% {
    transform: scaleX(0);
  }
  to {
    transform: scale(1);
  }
}
